<footer id="footer">
  <div class="container-fluid">
    <p class="footer-para">
      <i style="color:white" class="fab fa-vuejs"></i><strong> VALOWAR <br>PVT. LTD.</strong></strong>

    </p>
  </div>
  <div class="social-icon-div">
    <a class="footer-icon" href="https://www.instagram.com/valowar__iitr/"><i class="fab fa-instagram si"></i></a>
    <a class="footer-icon" href="https://www.facebook.com/gurkaran.singhb/"><i class="fab fa-facebook si"></i></a>
    <a class="footer-icon" href="https://www.linkedin.com/in/gurkaran-singh-8563881b5/"><i class="fab fa-linkedin si"></i></a>
  </div>
  <div class="container-fluid">
    <p class="footer-para">© Copyright 2020 Valowar</p>
  </div>

</footer>
</body>

</html>
