<%- include("partials/header"); -%>
<div style="background-color:#E8E8E8;" class="container-fluid">

  <div class="row">
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div style="background-color:#12a4d9" class="col-lg-4 col-sm-12 about-head">
      <h2 style="text-shadow: 2px 2px black;"class="details-heading">ABOUT US</h2>
    </div>
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
    </div>
  </div>
</div>


<div class="container-details">


  <div class="row founding-head">
    <div class="col-md-6 home-head">
      <h1 style="color: #042e27;" class="home-h2">FOUNDING MEMBERS</h1>
    </div>

    <div class="col-md-6 ">
      <hr class="home-hr">
      <hr class="home-hr">
    </div>
    <div class="col-12 ">
      <hr class="home-hr">
      <hr class="home-hr">
    </div>
  </div>

  <div class="row founding-div">
    <div class="col-lg-6 col-sm-12 home-head">
      <img class="circle" src="images/rahul-dp.jpeg" alt="Karan's profile picture" height="225">
      <hr>
      <h2 style="color: #ff4655;" class="home-h2">RAHUL BHOJWANI</h2>
      <p class="founding-para">I am an Experienced Graphic Designer with a demonstrated history of working in the entertainment industry. Skilled in Logo Design, User Interface Design(UI) ,User experience design(UX), Graphic Design, and Web Design.
        Strong arts and design professional with a Bachelor of Technology - BTech focused in Chemical Engineering from Indian Institute of Technology, Roorkee.<br>
        Contact me:
        <a class="contact-icon" href="https://www.instagram.com/rahul__1721/"><i class="fab fa-instagram si"></i></a>
        <a class="contact-icon" href="https://www.facebook.com/rahul.bhojwani.338"><i class="fab fa-facebook si"></i></a>
        <a class="contact-icon" href="https://www.linkedin.com/in/rahul-bhojwani-72237319b/"><i class="fab fa-linkedin si"></i></a>
      </p>
    </div>

    <div class="col-lg-6 col-sm-12 home-head">
      <img class="circle" src="images/gurkaran-dp.jpg" alt="Karan's profile picture" height="225">
      <hr>
      <h2 style="color: #ff4655;" class="home-h2">GURKARAN SINGH</h2>
      <p class="founding-para">I am currently a second-year student in IIT Roorkee. I am a competitive programmer in Java Language and a Web Developer, well experienced with tools and technologies
        like:<br>
        Front-end in HTML, CSS/bootstrap, JavaScript/jQuery/DOM/EJS<br>
        Back-end in Node.js/Express.js.<br>
        Database in MongoDB/Mongoose ODM <br>
        Contact me:
        <a class="contact-icon" href="https://www.instagram.com/karan._.1/"><i class="fab fa-instagram si"></i></a>
        <a class="contact-icon" href="https://www.facebook.com/gurkaran.singhb/"><i class="fab fa-facebook si"></i></a>
        <a class="contact-icon" href="https://www.linkedin.com/in/gurkaran-singh-8563881b5/"><i class="fab fa-linkedin si"></i></a>

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 home-head">
      <h2 style="color: #042e27;" class="home-h2">CONTACT US</h2>
    </div>

    <div class="col-md-6 ">
      <hr class="home-hr">
      <hr class="home-hr">
    </div>
    <div class="col-12 ">
      <hr class="home-hr">
      <hr class="home-hr">
    </div>
  </div>
  <p class="contact-para">Contact us on our official <a style="color:#dc3d4b" href="https://www.instagram.com/valowar__iitr/"><strong>Instagram</strong></a> page and send us your clutch movements, funny gameplays to get featured.</p>
  <hr>
</div>

<%- include("partials/footer"); -%>
