<%- include("partials/header"); -%>

<div style="background-color:#E8E8E8;" class="container-fluid">

  <div class="row">
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div style="background-color:#12a4d9" class="col-lg-4 col-sm-12 about-head">
      <h2 style="text-shadow: 2px 2px black;" class="details-heading">DETAILS</h2>
    </div>
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
    </div>
  </div>
</div>
<div class="container-details">

  <!-- about  -->

  <div class="row">
    <div class="col-md-6 about-head">
      <h2 class="details-heading">ABOUT THE TOURNAMENT-ACT 1</h2>
    </div>
    <div class="col-md-6 ">
      <hr>
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
      <hr>
    </div>
  </div>
  <div class="">

  </div>
  <p class="about-para-details">Valowar is the first-ever inter-branch valorant tournament that is being organized in R-Land. It is not merely a game of aiming but also a business of mind games and strategies. Along with all our gaming skills at
    stake, we need to have a lot of fun while the tournament is on. This is the opportunity to flaunt your pro gaming skills and become flawless valo-warriors.</p>

  <!-- war rules -->
  <div class="row">
    <div class="col-md-6 about-head">
      <h2 class="details-heading">WAR RULES</h2>
    </div>
    <div class="col-md-6 ">
      <hr>
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
      <hr>
    </div>
  </div>
  <div class="container-rules">
    <ul>
      <li>Every team can register a maximum of 7 players and minimum of 5 players from which they can choose playing 5 for the match.
      </li>
      <li>A team can have any team name, representing their players. (any fancy name would work).</li>
      <li>Every team should have one team representative and fill his/her contact details in the form so that we can provide him/her with all the necessary details.</li>
      <li>Once registered and verified, you will not be able to change your chosen 7. So, fill the registration form wisely.</li>
            <li>You need to provide every team member’s <strong>exact riot id along with the hash code</strong> in the registration form.</li>
      <li>Minimum one observer of our team will be there to ensure fair play.</li>
      <li>The match-winning team’s representative should take a <strong>screenshot of the scoreboard </strong>and send it to our <a style="color:#dc3d4b" href="https://www.instagram.com/valowar__iitr/"><strong>Instagram</strong></a> as a proof.
        (although the observer
        will also take the screenshot)
      </li>
      <li>The matches will be scheduled at the start of the tournament. Any team not available at the time of the match will be considered on the losing side. You will be able to see the schedule and points distribution scheme in <a
          style="color:#dc3d4b" href="/news"><strong>News Section</strong></a> once all the registrations are done!
      </li>
      <li>Due to any issues relating to ping or any other technical issue, if a team surrenders the match, it will lose the game.</li>

      <li>Once the details filled in the form are verified you can see the team and players name in the <a
          style="color:#dc3d4b" href="/players"><strong>Players' Section</strong></a>. Congratulations, you are now a Valo-Warrior.</li>
    </ul>
  </div>
  <hr>
  <hr>
  <p class="about-para-details">We all are valo-warriors. A warrior is not the one who always wins, but the one who is always fair. Losing or Winning is temporary but the fun and memory one makes while playing is permanent. At the end of the day, we
    all know that “WE ARE VALORANTS!”</p>

  <!-- winner-prizes -->
  <div class="row">
    <div class="col-md-6 about-head">
      <h2 class="details-heading">REWARDS</h2>
    </div>
    <div class="col-md-6 ">
      <hr>
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
      <hr>
    </div>
  </div>
  <p class="about-para-details"><strong>Radianite</strong> is a special element which affected some players of VALORANT gifting them with special powers.
    But thats not the only thing they affected .
    Signs were seen on player cards too.
    Thats why if you want the radianite cards .
    You have to be the one who is worth it.</p>
  <p class="about-para-details">So, <strong>CHAMPIONS</strong> will be getting these specially designed cards for them from us.
    We will also give radianite cards to <strong>KILL BEAST</strong> and <strong>IMMORTAL</strong> of this tournament.</p>
  <div class="row">
    <div style="text-align:right" class="col-md-6">
      <img class="card-img" src="images/immortal-card.png" alt="">
    </div>
    <div style="text-align:center" class="col-md-6">
      <img class="card-img" src="images/kill-card.png" alt="">
    </div>
  </div>
  <p class="about-para-details">At the end of the tournament the radianite cards along with the winners name will be uploaded in the <a style="color:#dc3d4b" href="/news"><strong>News Section</strong></a>. Time to flaunt your skills has come up. So
    start grinding and be the only team with radianite cards.</p>

  <hr>
</div>
<%- include("partials/footer"); -%>
