<%- include("partials/header"); -%>
<div class="success-div ">
  <div class="success-msg-box">
    <h2 class="success-head">The registration period is over.</h2>
    <hr>
    <hr>
    <p class="success-para">The tournament is currently going on. You can see teams and players in the player's section<button type="button" class="btn btn-light btun"><a style="color:#dc3d4b" href="/players"><strong>View Page</strong></a></button></p>
    <hr>
    <hr>

  </div>



</div>


<%- include("partials/footer"); -%>
