<%- include("partials/header"); -%>

<!-- intro-div -->
<section id="intro-timer">
  <div class="container-fluid-title">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">



          <div style="text-align:center" class="col-12 ">
            <img class="title-img" src="images/title-img.png" alt="">
            <br>

            <!-- <hr class="home-hr"> -->
            <br>
            <button type="button" class="btn btn-light btun main-btn" href="/r"><a href="/registration"><strong>Register Now</strong></a></button>
            <hr class="home-hr">
            <br>
          </div>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br>
        <br>
        <br>
        <br>
        <h2 class="timer">ACT-1 <br></h2>
        <br>
        <h2 class="timer" id="timer"></h2>
      </div>
    </div>
  </div>
</section>


<!-- defy the limits -->
<section id="testimonials">
  <div class="container-fluid-test">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img style="background-color:#ff4655;" class="sage-img" src="/images/jett-head.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-md-6 home-head">
            <h2 style="color: #E8E8E8;" class="home-h2">DEFY THE LIMITS</h2>
          </div>

          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <p style="text-align:left;padding-right:3rem;padding-left:3rem;">We are proud to be hosting the first ever VALORANT tournament, starting December 25. We will be giving students from the same branch across the college the opportunity to go
          head-to-head in the newest, groundbreaking
          tactical shooter that’s been
          smashing online viewership records. The team that wins the tournament will go down in history as the IITR's first VALORANT champions </p>
      </div>
    </div>
  </div>
</section>


<!-- upc-tournament -->
<section id="upc-tour">
  <div class="container-fluid-test">
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-6 home-head">
            <h1 style="color: #042e27;" class="home-h2">UPCOMING TOURNAMENT ACT-1</h1>
          </div>

          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <p style="color: #696969; text-align:left"><strong>WE WIN THIS TOURNAMENT, WE WIN THIS BATTLE !</strong></p>
        <p style="color: #696969;" class="responsive-para">Join the other Valorants of your college in this festival of IIT-Roorkee's first inter-branch inter-year Valorant tournament. Act-1 is exclusive for first and second year students of IIT Roorkee.</p>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <img class="raze-img" src="images/raze-tour.png" alt="">
      </div>

    </div>
  </div>
</section>


<!-- champions -->
<section id="champions">
  <div class="container-fluid-test">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="champions-img" src="images/viper-champions.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-md-6 home-head">
            <h2 style="color:  #E8E8E8; background-color:#ff4655" class="home-h2">CHAMPIONS</h2>
          </div>

          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <p style="color: #696969; text-align:left"><strong>BE THE SURVIVOR !</strong></p>
        <p style="color: #696969;text-align:left">Winners of the tournament will be the ultimate champions of the first ever Valorant Tournament of IITR. They will be honoured by shoutouts, titles and a specially designed card for them depicting them
          as the ULTIMATE
          CHAMPIONS. </p>
      </div>
    </div>
  </div>
</section>


<!-- kill beast--immortal -->
<section id="kills-mvp">
  <div class="container-fluid-features">
    <div class="row">
      <div style="background-color: #ff4655" class="col-lg-6 col-md-6 col-sm-6 immortal-div">

        <div class="row">

          <div class="col-md-6 home-head">
            <h2 style="color: #E8E8E8;" class="home-h2">IMMORTAL</h2>
          </div>
          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>


          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <div class="row">

          <div class="col-md-4 home-head">
            <img class="gun-img" src="images/immortal-gun.png" alt="">
          </div>
          <div class="col-md-8 ">
            <p class="gun-para">VALORANT with the highest Combat Score in the tournament will be awarded with the title of Immortal and an exclusive Radianite Card. </p>
          </div>

        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 immortal-div">
        <div class="row">
          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-md-6 home-head">
            <h2 style="color: #ff4655;" class="home-h2">KILL-BEAST</h2>
          </div>

          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="row">

            <div class="col-md-8 ">
              <p style="color: #696969; text-align:left" class="gun-para">VALORANT with most Kills in the tournament will be awarded with the title of Kill-Beast and an exclusive Radianite Card. </p>
            </div>

            <div class="col-md-4 home-head">
              <img class="gun-img" src="images/kill-gun.png" alt="">
            </div>

          </div>
        </div>
      </div>
</section>



<!-- leaderboard -->

<section id="leaderboard">
  <div class="container-fluid-test">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 home-head">
            <h2 style="color:#E8E8E8;" class="home-h2">LEADERBOARD</h2>
          </div>

          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <p style=" text-align:left"><strong>SEE WHERE YOU STAND !</strong></p>
        <p style="text-align:left">Checkout your team ranking among teams from different branches.
          You can also see your individual ranking among your college mates.
          Change filters by kills or by average combat score. </p>
        <div style="text-align:center" class="col-12 ">
          <br>
          <hr style="background-color:#E8E8E8">
          <button type="button" class="btn btn-light btn-outline-light btun leaderboard-btn" href="/leaderboard"><a style="color:black;padding:3rem" href="/leaderboard"><strong>LEADERBOARD</strong></a></button>
          <hr style="background-color:#E8E8E8">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="champions-img" src="images/fnx-head.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- war-rules -->
<section id="war-rules">
  <div class="container-fluid-test">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="champions-img" src="images/reyna-rules.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-md-6 home-head">
            <h2 style="color:  #E8E8E8; background-color:#ff4655;" class="home-h2">WAR-RULES</h2>
          </div>

          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <p style=" text-align:left"><strong>BE A REAL WARRIOR !</strong></p>
        <p> A warrior is not the one who always wins, but the one who is always fair. Losing or Winning is temporary but the fun and memory one makes while playing is permanent. To ensure this fair play, we have introduced some rules. Do check them
          out! </p>
        <div style="text-align:center" class="col-12 ">
          <br>
          <hr class="home-hr">
          <button type="button" class="btn btn-light btun main-btn" href="/details"><a href="/details"><strong>VIEW DETAILS</strong></a></button>
          <hr class="home-hr">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- news -->
<section id="news">
  <div class="container-fluid-test">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">

          <div class="col-md-6 home-head">
            <h2 style="color:#ff4655;" class="home-h2">LATEST NEWS</h2>
          </div>
          <div class="col-md-6 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
          <div class="col-12 ">
            <hr class="home-hr">
            <hr class="home-hr">
          </div>
        </div>
        <p style="color: #696969; text-align:left"><strong>BE UP TO DATE !</strong></p>
        <p style="color: #696969">Keep yourself updated with the latest news and tournament schedules of VALOWAR. </p>
        <div style="text-align:center" class="col-12 ">
          <button type="button" class="btn btn-light btun main-btn" href="/news"><a href="/news"><strong>VIEW PAGE</strong></a></button>
          <br>
          <br>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br>
        <br>
        <div id="testimonials-items" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="test-img" src="/images/valowar.jfif" alt="jet-profile">
            </div>
            <div class="carousel-item">
              <img class="test-img" src="/images/valo-slide1 .jfif" alt="raze-profile">
            </div>
          </div>
          <a class="carousel-control-prev" href="#testimonials-items" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#testimonials-items" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        <br>
        <br>
      </div>

    </div>

    <hr>
    <br>
  </div>

</section>

<script src="/js/home.js" charset="utf-8"></script>
<%- include("partials/footer"); -%>
