<%- include("partials/header"); -%>
<div style="background-color:#E8E8E8;" class="container-fluid">

  <div class="row">
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div style="background-color:#12a4d9" class="col-lg-4 col-sm-12 about-head">
      <h2 class="details-heading">NEWS & UPDATES</h2>
    </div>
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
    </div>
  </div>
</div>


<div class="container-news">
  <!-- schedule -->
  <div class="row">
    <div class="col-md-6 about-head">
      <h2 class="details-heading">SCHEDULE</h2>
    </div>
    <div class="col-md-6 ">
      <hr>
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
      <hr>
    </div>
  </div>
  <h2 class="schedule-para-news">Coming Soon...</h2>
</div>




</div>
<%- include("partials/footer"); -%>
