<%- include("partials/header"); -%>
<div style="background-color:#E8E8E8;" class="container-fluid">

  <div class="row">
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div style="background-color:#12a4d9" class="col-lg-4 col-sm-12 about-head">
      <h2 style="text-shadow: 2px 2px black;" class="details-heading">NEWS & UPDATES</h2>
    </div>
    <div class=" col-lg-4 col-sm-12">
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
    </div>
  </div>
</div>


<div class="container-news">
  <!-- points scheme  -->
  <div class="row">
    <div class="col-md-6 about-head">
      <h2 class="details-heading">ACT-1 SCHEME</h2>
    </div>
    <div class="col-md-6 ">
      <hr>
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
      <hr>
    </div>
  </div>
  <div class="container-rules">
    <ul>
      <li>The teams are divided into two groups i.e. Group A and Group B. They will compete with the teams in their respective group to top the charts.
      </li>
      <li>Each match in the group stage will be a Standard Competitive type match (best of 1).</li>
      <li>The map of every match will be decided by a deathmatch. The player having the highest deathmatch score will have the ultimate choice of selecting the map (he/she can discuss with the teammates) for the main match. This deathmatch will not
        have any role in the scoring.</li>
      <li>Winning team will be given 2 points.</li>
      <li>In case both the teams go for a draw, they both will get 1 point.</li>
      <li>In any other case (if the team loses or surrenders) the team gets 0 points.
        <strong>If the whole team is not available within 30 mins of the scheduled time of the match it will be given 0 points for that match.</strong>.
      </li>
      <li>Minimum one observer of our team will be there to ensure fair play.</li>
      <li>The match-winning team’s representative should take a <strong>screenshot of the scoreboard </strong>and send it to our <a style="color:#dc3d4b" href="https://www.instagram.com/valowar__iitr/"><strong>Instagram</strong></a> as a proof.
        (although the observer
        will also take the screenshot)
      </li>
      <li>Just in any case two teams score equal points in the group stage then the team having less total team rounds will be preferred over the other.
      </li>
      <li>Due to any issues relating to ping or any other technical issue, if a team surrenders the match, it will lose the game.</li>
      <li>Post group stage, top 2 teams from each group will be selected for the semi-finals.</li>
    </ul>
  </div>
  <!-- schedule -->
  <div class="row">
    <div class="col-md-6 about-head">
      <h2 class="details-heading">GROUP-A SCHEDULE</h2>
    </div>
    <div class="col-md-6 ">
      <hr>
      <hr>
    </div>
    <div class="col-12 ">
      <hr>
      <hr>
    </div>
  </div>

  <div style="text-align:center"class="container-rules">

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">25th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team Coweed20</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team MyStry</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team Radioactive7</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team F</div>
        </div>
        <hr>
      </div>

    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">26th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team Chapri Gang</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Radioactive7</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team F</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Coweed20</div>
        </div>
        <hr>
      </div>
    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">27th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team Coweed20</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Chapri Gang</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team MyStry</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team F</div>
        </div>
        <hr>
      </div>
    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">28th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team Chapri Gang</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team MyStry</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team Radioactive7</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Coweed20</div>
        </div>
        <hr>
      </div>

    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">29th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">

            <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
            <div class="col-4 themed-grid-col">Team MyStry</div>
            <div class="col-2 themed-grid-col">V</div>
            <div class="col-4 themed-grid-col">Team Radioactive7</div>

        </div>
        <hr>
          <div class="row">
        <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
        <div class="col-4 themed-grid-col">Team F</div>
        <div class="col-2 themed-grid-col">V</div>
        <div class="col-4 themed-grid-col">Team Chapri Gang</div>
        </div>
        <hr>
      </div>

    </div>

  </div>


<!-- group b -->
<div class="row">
  <div class="col-md-6 about-head">
    <h2 class="details-heading">GROUP-B SCHEDULE</h2>
  </div>
  <div class="col-md-6 ">
    <hr>
    <hr>
  </div>
  <div class="col-12 ">
    <hr>
    <hr>
  </div>
</div>
  <div style="text-align:center"class="container-rules">

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">25th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team RADiaTRonS</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team theMoists</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team Twisted Minds</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Adrenaline Rush</div>
        </div>
        <hr>
      </div>

    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">26th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team vikings</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Twisted Minds</div>
        </div>
        <hr>

        <div class="row">
          <div  style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team vikings</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team RADiaTRonS</div>
        </div>
        <hr>
      </div>
    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">27th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team Adrenaline Rush</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team RADiaTRonS</div>
        </div>
        <hr>

        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team RADiaTRonS</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Twisted Minds</div>
        </div>
        <hr>
      </div>
    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">28th Dec, 2020</h3>
        </div>
        <hr>

        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team	vikings</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team Adrenaline Rush</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team theMoists</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team	vikings</div>
        </div>
        <hr>
      </div>

    </div>

    <div style="background-color:#F0F0F0"class="row">
      <div class="col-12 themed-grid-col">
        <div style="background-color: #20B2AA; color:white" class="pb-3">
          <br>
          <h3 class="date-head">29th Dec, 2020</h3>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">15:30</div>
          <div class="col-4 themed-grid-col">Team Adrenaline Rush</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team theMoists</div>
        </div>
        <hr>
        <div class="row">
          <div style="color:red;"class="col-2 themed-grid-col">18:00</div>
          <div class="col-4 themed-grid-col">Team Twisted Minds</div>
          <div class="col-2 themed-grid-col">V</div>
          <div class="col-4 themed-grid-col">Team theMoists</div>
        </div>
        <hr>
      </div>

    </div>

  </div>
</div>


<%- include("partials/footer"); -%>
