<%- include("partials/header"); -%>
<div class="success-div ">
  <div class="success-msg-box">
    <h2 class="success-head">Your response has been successfully recorded.</h2>
    <hr>
    <hr>
    <p class="success-para">Wait for the verification, once verified you can see your team and players in the player's section<button type="button" class="btn btn-light btun"><a style="color:#dc3d4b" href="/players"><strong>View Page</strong></a></button></p>
    <hr>
    <hr>
    <p class="success-para">If you are facing any problems or have any queries, you can<button type="button" class="btn btn-light btun"><a style="color:#dc3d4b" href="/contact"><strong>Contact Us</strong></a></button></p>
  </div>



</div>


<%- include("partials/footer"); -%>
